<mat-card class="mat-card-light"> 
    <mat-card-header style="display: flex; justify-content: space-between;">
      <mat-card-title class="accent">
        <span *ngIf="bikeForm.value.id !== null; else elseBlock">
          Editing Bike
        </span>
        <ng-template #elseBlock>
          Create Bike
        </ng-template>
      </mat-card-title>
      
    </mat-card-header>
  <form [formGroup]="bikeForm" (ngSubmit)="saved.emit(bikeForm.value)">
    <mat-card-content >

      <mat-form-field appearance="fill" >
        <mat-label>Brand</mat-label>
        <mat-select formControlName="brand">
          <mat-option *ngFor="let option of brands" [value]="option">
            {{option}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <span *ngIf="bikeForm.value.brand !== '' && bikeForm.value.brand !== null">
        <span *ngIf="bikeForm.value.brand === 'KTM'; else elseblock">
          <mat-form-field appearance="fill">
            <mat-label>Style</mat-label>
            <mat-select formControlName="style">
              <mat-option *ngFor="let option of styles.ktm" [value]="option">
                {{option}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </span>

        <ng-template #elseblock>
          <mat-form-field appearance="fill">
            <mat-label>Style</mat-label>
            <mat-select formControlName="style">
              <mat-option *ngFor="let option of styles.honda" [value]="option">
                {{option}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </ng-template>
      </span>
      <br>

      <mat-form-field>
        <mat-label>Year</mat-label>
        <input matInput formControlName="year" type="number">
      </mat-form-field>

    </mat-card-content>
    <mat-card-actions style="display: flex; justify-content: space-between;">
      <button [disabled]="bikeForm.invalid" type="submit" mat-button color="primary">Save</button>
      <button type="button" mat-button (click)="cancelled.emit();bikeForm.reset();">
        Cancel
      </button>
    </mat-card-actions>
  </form>
</mat-card>